absl-py==0.11.0
astor==0.8.1
elasticsearch==7.10.1
gast==0.3.3
google-pasta==0.2.0
grpcio==1.34.0
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
numpy==1.18.5
protobuf==3.13.0
six==1.15.0
tensorflow==2.3.1
tensorboard==2.4.0
tensorflow-hub==0.10.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1